In [1]:
import requests
import bs4
from bs4 import BeautifulSoup
import requests
import re
import datetime as dt
import pandas as pd
import matplotlib as plt
import urllib
%matplotlib inline
from selenium.webdriver.common.desired_capabilities import DesiredCapabilities
from selenium import webdriver
from urllib.parse import quote

In [2]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager

driver = webdriver.Chrome(ChromeDriverManager().install())

[WDM] - Current google-chrome version is 84.0.4147
[WDM] - Get LATEST driver version for 84.0.4147
[WDM] - Driver [C:\Users\pjb50\.wdm\drivers\chromedriver\win32\84.0.4147.30\chromedriver.exe] found in cache

In [3]:
driver

In [43]:
## functions for scraping different elements
def extract_location_from_resultRow(result):
    try:
        location= (result.find('span', {'class': 'location'})).text.strip()
    except:
        location = ''
    return location

def extract_company_from_resultRow(result):
    try:
        company = (result.find('span', {'class':'company'})).text.strip()
    except:
        company = ''
    return company

def extract_rating_from_resultRow(result):
    try:
        rating= (result.find("div", {'class':"sjcl"})).text.strip()
    except:
        rating= ''
    return rating

def extract_title_from_resultRow(result):
    try:
        title = (result.find('h2', {'class':'title'})).text.strip()
        title_text = title
    except: 
        title_text = ''
    return title_text

def extract_salary_from_resultRow(result):
    try:
        salary = (result.find('span', {'class' : 'salary no-wrap'})).text.strip()
    except:
        salary = ''
        no_salary.append(salary)
    salary_text = salary
    return salary_text

def extract_summary_from_resultRow(result):
    try: 
        summary = (result.find('div', {'class':'summary'})).text.strip()
    except: 
        summary = ''
    return summary

def extract_date_from_resultRow(result):
    try: 
        date = (result.find(class_='date').text.strip(' ago').strip())
    except: 
        date = ''
    return date

## SYDNEY DATA ANALYST SCRAPE

In [53]:
CITY=['sydney']
URL_SEARCH_TERM = 'data analyst'

In [54]:
# scraping sydney data analyst
    
for city in CITY:
    job_dict = []
    now = dt.datetime.now()
    for start in range(10, 1000,10):
        
#         URL = "https://au.indeed.com/jobs?q=data&l="+urllib.quote(city)"&start="+(start)
        URL = "https://au.indeed.com/jobs?q="+urllib.parse.quote(URL_SEARCH_TERM)+"&l="+urllib.parse.quote(city)+"&start="+str(start)
        
        driver.get(URL)
        soup = BeautifulSoup(driver.page_source, "lxml")

        for i in soup.findAll("div", {"class" : "jobsearch-SerpJobCard unifiedRow row result clickcard"}):
            
            location = extract_location_from_resultRow(i)
            company = extract_company_from_resultRow(i)
            summary = extract_summary_from_resultRow(i)
            rating=extract_rating_from_resultRow(i)
            title = extract_title_from_resultRow(i)
            salary = extract_salary_from_resultRow(i)
            post_date = extract_date_from_resultRow(i)

            job_dict.append([location, company, summary, title, salary, post_date,now, rating])
    job_df = pd.DataFrame(job_dict, columns=['location', 'company', 'summary',  'title', 'salary', 'post_date','pull_date','rating'])

In [ ]:
no_salary=[]

In [ ]:
# scraper(CITY, URL_SEARCH_TERM)

In [55]:
job_df.shape

(1472, 8)

In [56]:
job_df.head(50)

,location,company,summary,title,salary,post_date,pull_date,rating
0,Sydney NSW,HSBC,Interrogation of complex and disparate data so...,Data & Visualisation Analyst,,30+ days,2020-08-20 12:56:22.739223,HSBC\n\n\n\n4.0\n\n\n\n\n\n\n\n\n\nSydney NSW
1,Sydney Central Business District NSW,The Royal Australasian College of Physicians,Document future data requirements and data rel...,Data Analyst\nnew,,5 days,2020-08-20 12:56:22.739223,The Royal Australasian College of Physicians\n...
2,Sydney NSW,Invoice2go,Build and maintain metrics dashboard using a d...,Data Analyst,"$70,000 - $80,000 a year",30+ days,2020-08-20 12:56:22.739223,Invoice2go\n\n\nSydney NSW
3,Sydney NSW,Amzn Commercial Srvcs Pty Ltd,Strong analytical and data skills are essentia...,Brand Analyst\nnew,,5 days,2020-08-20 12:56:22.739223,Amzn Commercial Srvcs Pty Ltd\n\n\n\n3.6\n\n\n...
4,Sydney NSW,Macquarie Group Limited,Over three years of experience in data and/or ...,Data Business Analyst - Max term opportunity\nnew,,1 day,2020-08-20 12:56:22.739223,Macquarie Group Limited\n\n\n\n3.8\n\n\n\n\n\n...
5,Sydney NSW,Reserve Bank of Australia,On top of that you will update data in the var...,"Data Analyst â€“ Economic Analysis Department, RBA",,21 days,2020-08-20 12:56:22.739223,Reserve Bank of Australia\n\n\n\n3.9\n\n\n\n\n...
6,Sydney Central Business District NSW,Lendlease,Experience as a data analyst or related field ...,Data Analyst\nnew,,7 days,2020-08-20 12:56:22.739223,Lendlease\n\n\n\n3.9\n\n\n\n\n\n\n\n\n\nSydney...
7,,Macquarie Group,Analyse data and processes to drive viable sol...,Business Analyst\nnew,,1 day,2020-08-20 12:56:22.739223,Macquarie Group\n\n\n\n3.8\n\n\n\n\n\n\n\n\n\n...
8,Sydney NSW,TAL,Delivering weekly remediation reporting data a...,Remediation Analyst\nnew,,6 days,2020-08-20 12:56:22.739223,TAL\n\n\n\n4.2\n\n\n\n\n\n\n\n\n\nSydney NSW
9,Sydney Central Business District NSW,Commonwealth Bank,Provide data expertise in support of Remediati...,Data Analyst RBS Customer Remediation,,30+ days,2020-08-20 12:56:22.739223,Commonwealth Bank\n\n\n\n4.0\n\n\n\n\n\n\n\n\n...
10,Parramatta NSW,Westpac Group,Experience in using and building data models T...,Data & Reporting Analyst\nnew,,Today,2020-08-20 12:56:22.739223,Westpac Group\n\n\n\n3.9\n\n\n\n\n\n\n\n\n\nPa...
11,Sydney NSW,GetCapital,Experience in data visualisation and dashboard...,Data Analyst,,26 days,2020-08-20 12:56:22.739223,GetCapital\n\n\nSydney NSW
12,Sydney NSW,Faethm,A passion for all things data.\nFamiliarity wi...,Client Onboarding Data Analyst,,19 days,2020-08-20 12:56:22.739223,Faethm\n\n\nSydney NSW
13,Sydney NSW,Macquarie Group Limited,Identifying potential data risks and issues an...,"Senior Analyst, Data Governance\nnew",,1 day,2020-08-20 12:56:22.739223,Macquarie Group Limited\n\n\n\n3.8\n\n\n\n\n\n...
14,Sydney NSW,Vic Cleaners and Movers,Passion for data and numbers.\nAnalysing data ...,Data Analyst Internship,,30+ days,2020-08-20 12:56:22.739223,Vic Cleaners and Movers\n\n\nSydney NSW
15,,Macquarie Group,Analyse data and processes to drive viable sol...,Business Analyst\nnew,,1 day,2020-08-20 12:56:22.739223,Macquarie Group\n\n\n\n3.8\n\n\n\n\n\n\n\n\n\n...
16,Sydney NSW,Westpac Group,"Business process improvement/re-engineering, d...",Lean Analyst\nnew,,5 days,2020-08-20 12:56:22.739223,Westpac Group\n\n\n\n3.9\n\n\n\n\n\n\n\n\n\nSy...
17,Sydney NSW,Systal Technology Solutions,The monitoring analyst will form the team anal...,Graduate NOC Analyst\nnew,,2 days,2020-08-20 12:56:22.739223,Systal Technology Solutions\n\n\nSydney NSW\nâ€¢...
18,Sydney NSW,KPMG,"Manipulating data into meaningful formats, rep...",Expressions of Interest- Forensic Advisory\nnew,,6 days,2020-08-20 12:56:22.739223,KPMG\n\n\n\n4.0\n\n\n\n\n\n\n\n\n\nSydney NSW
19,Barangaroo NSW,Origin Energy Services Ltd,Join a highly engaged team of professionals in...,Pricing Analyst\nnew,,1 day,2020-08-20 12:56:22.739223,Origin Energy Services Ltd\n\n\n\n3.8\n\n\n\n\...
20,Sydney NSW,TAL,Map data between the source and target systems...,Business Analyst - Customer Remediation\nnew,,2 days,2020-08-20 12:56:22.739223,TAL\n\n\n\n4.2\n\n\n\n\n\n\n\n\n\nSydney NSW
21,Sydney NSW,REA Group,Experience working with property data.\nAccess...,Economic Analyst\nnew,,7 days,2020-08-20 12:56:22.739223,REA Group\n\n\n\n4.1\n\n\n\n\n\n\n\n\n\nSydney...
22,Sydney NSW,Carecone,Data Analysis â€“ Analysed data-sets from multip...,Business Analyst\nnew,,2 days,2020-08-20 12:56:22.739223,Carecone\n\n\nSydney NSW
23,Sydney NSW,Westpac Group,The role will also need to support the overall...,Lead Data Modeller\nnew,,6 days,2020-08-20 12:56:22.739223,Westpac Group\n\n\n\n3.9\n\n\n\n\n\n\n\n\n\nSy...
24,Sydney NSW,Veeva Systems,Implement automated data collection and valida...,Junior Data Analyst (Contract),,30+ days,2020-08-20 12:56:22.739223,Veeva Systems\n\n\nSydney NSW
25,Bella Vista NSW,Woolworths Group,Ability to work large volumes of data and to i...,eDiscovery Analyst\nnew,,1 day,2020-08-20 12:56:22.739223,Woolworths Group\n\n\n\n3.8\n\n\n\n\n\n\n\n\n\...
26,Sydney NSW,Rabobank,Update and maintain the Asset Management and C...,ITI Desktop Support Analyst,,14 days,2020-08-20 12:56:22.739223,Rabobank\n\n\n\n4.0\n\n\n\n\n\n\n\n\n\nSydney NSW
27,North Sydney NSW,Vodafone,"Collect, aggregate and analyse data from multi...",Data Scientist\nnew,,1 day,2020-08-20 12:56:22.739223,Vodafone\n\n\n\n3.9\n\n\n\n\n\n\n\n\n\nNorth S...
28,Sydney NSW,New World Management,"Ability to understand, manage and manipulate c...",Data & Insight Analyst\nnew,,1 day,2020-08-20 12:56:22.739223,New World Management\n\n\nSydney NSW
29,Sydney Central Business District NSW,City of Sydney,Assisting business areas discover insights thr...,SENIOR BUSINESS INTELLIGENCE/DATA ANALYST,"$144,126 a year",8 days,2020-08-20 12:56:22.739223,City of Sydney\n\n\n\n4.4\n\n\n\n\n\n\n\n\n\nS...
30,Sydney Central Business District NSW,City of Sydney,Assisting business areas discover insights thr...,SENIOR BUSINESS INTELLIGENCE/DATA ANALYST,"$144,126 a year",8 days,2020-08-20 12:56:22.739223,City of Sydney\n\n\n\n4.4\n\n\n\n\n\n\n\n\n\nS...
31,Sydney NSW,AMP Limited,We are looking for an experienced data reporti...,Data Reporting Analyst,,30+ days,2020-08-20 12:56:22.739223,AMP Limited\n\n\n\n3.9\n\n\n\n\n\n\n\n\n\nSydn...
32,Sydney Central Business District NSW,Experis,"Extensive, hands-on data analysis experience -...",Data Analyst\nnew,$600 a day,2 days,2020-08-20 12:56:22.739223,Experis\n\n\nSydney Central Business District NSW
33,Sydney NSW,Australian Securities Exchange (ASX),"Existing data model, data and the business pro...",Data Analyst & Data Modeller,,30+ days,2020-08-20 12:56:22.739223,Australian Securities Exchange (ASX)\n\n\nSydn...
34,Bella Vista NSW,Woolworths Group,Integrating team experience data with other da...,Team Experience Research Analyst\nnew,,1 day,2020-08-20 12:56:22.739223,Woolworths Group\n\n\n\n3.8\n\n\n\n\n\n\n\n\n\...
35,Sydney NSW,Roche,Acts as an industry advocate and analyst to su...,Value & Insights Coach\nnew,,5 days,2020-08-20 12:56:22.739223,Roche\n\n\n\n4.2\n\n\n\n\n\n\n\n\n\nSydney NSW
36,Sydney NSW,Optivia,*3+ years of experience in data wrangling and ...,ICT Business Analyst / Data Analytics Solution...,,2 days,2020-08-20 12:56:22.739223,Optivia\n\n\nSydney NSW
37,Artarmon NSW,Alto Group,Suggest continuous improvement ideas for growi...,Data Analyst,,9 days,2020-08-20 12:56:22.739223,Alto Group\n\n\n\n2.6\n\n\n\n\n\n\n\n\n\nArtar...
38,Sydney NSW,Westpac Group,"You will extract, validate, transform and load...",Business Analyst/ Process Analyst\nnew,,Just posted,2020-08-20 12:56:22.739223,Westpac Group\n\n\n\n3.9\n\n\n\n\n\n\n\n\n\nSy...
39,North Sydney NSW,oOh!,Proactively solve business problems with data ...,Data Analyst - Contract role,,30+ days,2020-08-20 12:56:22.739223,oOh!\n\n\nNorth Sydney NSW
40,Sydney NSW,Optus,Performing more complex data analytic work.\nE...,"Senior Data Analyst, Data Analytics & Robotics...",,2 days,2020-08-20 12:56:22.739223,Optus\n\n\n\n3.8\n\n\n\n\n\n\n\n\n\nSydney NSW
41,Macquarie Park NSW,Nielsen,Providing support to the data delivery team to...,Service Integrity analyst\nnew,,4 days,2020-08-20 12:56:22.739223,Nielsen\n\n\n\n3.8\n\n\n\n\n\n\n\n\n\nMacquari...
42,Darlinghurst NSW,WooliesX,Assist with data modelling / analysis with a v...,Data and Reporting Analyst,,30+ days,2020-08-20 12:56:22.739223,WooliesX\n\n\nDarlinghurst NSW
43,,Sydney Water,1-2+ years organisational change analyst exper...,Change Analyst\nnew,"$110,337 a year",Today,2020-08-20 12:56:22.739223,Sydney Water\n\n\n\n3.8\n\n\n\n\n\n\n\n\n\nSyd...
44,Sydney NSW,New World Management,You will take over the design of a modern and ...,Data Analyst/Modeller\nnew,,2 days,2020-08-20 12:56:22.739223,New World Management\n\n\nSydney NSW
45,Sydney Central Business District NSW,Commonwealth Bank,You have excellent SQL skills and experience d...,Customer Insights Analyst\nnew,,6 days,2020-08-20 12:56:22.739223,Commonwealth Bank\n\n\n\n4.0\n\n\n\n\n\n\n\n\n...
46,,Macquarie Group,Analyse data and processes to drive viable sol...,Business Analyst\nnew,,1 day,2020-08-20 12:56:22.739223,Macquarie Group\n\n\n\n3.8\n\n\n\n\n\n\n\n\n\n...
47,Sydney NSW,TAL,Strong technical skills in programming and dat...,Actuarial Analyst\nnew,,2 days,2020-08-20 12:56:22.739223,TAL\n\n\n\n4.2\n\n\n\n\n\n\n\n\n\nSydney NSW
48,Sydney NSW,British American Tobacco,Liaise with and support internal stakeholders ...,Trade Analyst\nnew,,Today,2020-08-20 12:56:22.739223,British American Tobacco\n\n\n\n4.4\n\n\n\n\n\...
49,Sydney NSW,Epoch Capital,The data analyst will focus on seeking out opp...,Accounting Data Analyst,,20 days,2020-08-20 12:56:22.739223,Epoch Capital\n\n\nSydney NSW

In [ ]:
## twenty five unique jobs

In [57]:
job_df.company.nunique()

368

In [58]:
job_df.summary.nunique()

797

In [60]:
job_df.salary.nunique()

120

In [ ]:
job_df.salary.value_counts()

## SYDNEY DATA SCIENTIST SCRAPE

In [62]:
CITY=['sydney']
URL_SEARCH_TERM = 'data science'

In [63]:
for city in CITY:
    job_dict_2 = []
    now = dt.datetime.now()
    for start in range(10, 1000,10):
        
#         URL = "https://au.indeed.com/jobs?q=data&l="+urllib.quote(city)"&start="+(start)
        URL = "https://au.indeed.com/jobs?q="+urllib.parse.quote(URL_SEARCH_TERM)+"&l="+urllib.parse.quote(city)+"&start="+str(start)
        
        driver.get(URL)
        soup = BeautifulSoup(driver.page_source, "lxml")

        for i in soup.findAll("div", {"class" : "jobsearch-SerpJobCard unifiedRow row result clickcard"}):
            location = extract_location_from_resultRow(i)
            company = extract_company_from_resultRow(i)
            summary = extract_summary_from_resultRow(i)
            title = extract_title_from_resultRow(i)
            salary = extract_salary_from_resultRow(i)
            post_date = extract_date_from_resultRow(i)

            job_dict_2.append([location, company, summary, title, salary, post_date,now])
    job_df_2 = pd.DataFrame(job_dict_2, columns=['location', 'company', 'summary',  'title', 'salary', 'post_date','pull_date'])

In [ ]:
# soup.prettify

In [ ]:
# dfsummary=pd.DataFrame(columns=["summary"])

In [ ]:
# check=soup.find_all('div',{'class':'summary'})

In [ ]:
# check

In [ ]:
# def extract_summary(result):
#     for x in result.find_all('div', {'class':'summary'}):
#         summary=x.text
#         dfsummary.loc[len(dfsummary)]=[summary]
# #         return summary

In [ ]:
extract_summary(soup)

In [ ]:
print(dfsummary.shape)
dfsummary.head()

In [64]:
job_df_2.company.nunique()

345

In [65]:
job_df_2.salary.value_counts()

                              1344
$90,000 - $130,000 a year       36
$100,000 a year                 10
$80,000 - $100,000 a year        4
$120,000 a year                  2
                              ...
$125,445 - $132,511 a year       1
$90,000 - $160,000 a year        1
$120,000 - $130,000 a year       1
$300 - $1,000 a day              1
$120,001 - $150,000 a year       1
Name: salary, Length: 79, dtype: int64

In [66]:
job_df_2.head()

,location,company,summary,title,salary,post_date,pull_date
0,North Ryde NSW,Itelios,Impeccable communication skills with the abili...,Medical Science Liaison\nnew,,Just posted,2020-08-20 12:59:47.237037
1,Sydney NSW,Healthcare Professionals Group,Fast and accurate data entry.\nYou will be joi...,Customer Service Representative\nnew,"$50,000 - $55,000 a year",Today,2020-08-20 12:59:47.237037
2,Sydney NSW,PKF Australia,To be a recent university graduate (preferably...,Data Analyst,,12 days,2020-08-20 12:59:47.237037
3,,Macquarie Group,"As a Data Engineer, you will be part of a data...",Data Engineer,,14 days,2020-08-20 12:59:47.237037
4,Sydney NSW,Capgemini Australia,You will have a proven record of growing clien...,Senior Manager - Data Science\nnew,,6 days,2020-08-20 12:59:47.237037

In [67]:
job_df_2.company.value_counts()

Macquarie Group              266
Syneos Health - Australia    156
Hyre Pty Ltd                  57
Commonwealth Bank             55
Illuminate                    52
                            ...
Goldman Sachs                  1
Fractal.ai                     1
Compass Group Australia        1
Denodo Technologies            1
Dynamic Business               1
Name: company, Length: 345, dtype: int64

In [ ]:
## looks like the same results

## MELB SCRAPE

## Scrape for melbs, data science

In [68]:
no_salary=[]

In [69]:
CITY=['melbourne']
URL_SEARCH_TERM = 'data science'
for city in CITY:
    
    job_dict_m = []
    now = dt.datetime.now()
    for start in range(10, 1000,10):
        
#         URL = "https://au.indeed.com/jobs?q=data&l="+urllib.quote(city)"&start="+(start)
        URL = "https://au.indeed.com/jobs?q="+urllib.parse.quote(URL_SEARCH_TERM)+"&l="+urllib.parse.quote(city)+"&start="+str(start)
        
        driver.get(URL)
        soup = BeautifulSoup(driver.page_source, "lxml")

        for i in soup.findAll("div", {"class" : "jobsearch-SerpJobCard unifiedRow row result clickcard"}):
            location = extract_location_from_resultRow(i)
            company = extract_company_from_resultRow(i)
            summary = extract_summary_from_resultRow(i)
            title = extract_title_from_resultRow(i)
            salary = extract_salary_from_resultRow(i)
            post_date = extract_date_from_resultRow(i)

            job_dict_m.append([location, company, summary, title, salary, post_date,now])
    job_df_m = pd.DataFrame(job_dict_m, columns=['location', 'company', 'summary',  'title', 'salary', 'post_date','pull_date'])

In [70]:
job_df_m.company.nunique()

176

In [71]:
job_df_m.head(50)

,location,company,summary,title,salary,post_date,pull_date
0,Melbourne VIC,KBR,KBR Intern Program 2020/21.\nAre you looking f...,KBR Intern Program 2020/21,,12 days,2020-08-20 13:02:25.541500
1,Melbourne VIC,Alfred Health,The Research Assistant will be responsible for...,Research Scientist\nnew,,Today,2020-08-20 13:02:25.541500
2,Melbourne VIC,IBM,A Doctorate degree in computer science or rela...,"IBM Research/Data Scientist - Health AI, Image...","$90,300 a year",30+ days,2020-08-20 13:02:25.541500
3,Docklands VIC,Medibank,Youâ€™re experienced in working with large custo...,Campaign and Data Management Specialist\nnew,,2 days,2020-08-20 13:02:25.541500
4,Melbourne VIC,Infosys Limited,Experience in data mapping and data definition...,Data Technical Business Analyst\nnew,,6 days,2020-08-20 13:02:25.541500
5,Melbourne VIC,Mediaocean,Create test data as required.\nThe ideal candi...,Junior QA Analyst,,30+ days,2020-08-20 13:02:25.541500
6,Melbourne VIC,Leidos,"Investigating data structures, preparing and b...",Data Analyst\nnew,,6 days,2020-08-20 13:02:25.541500
7,Melbourne VIC,Oracle,Detail oriented with a focus on quality of the...,Data Scientist - Machine Learning/ Computer Vi...,,30+ days,2020-08-20 13:02:25.541500
8,Melbourne VIC,Eliiza,Commercial data science experience across diff...,Data Scientist,,30+ days,2020-08-20 13:02:25.541500
9,Melbourne VIC,Oracle,Detail oriented with a focus on quality of the...,Data Scientist - Machine Learning/ NLP / Conve...,,30+ days,2020-08-20 13:02:25.541500
10,Melbourne VIC,Seeing Machines,We harness human factors science to create art...,GM Finance\nnew,,5 days,2020-08-20 13:02:25.541500
11,Melbourne VIC,IBM,Domain knowledge in healthcare/life sciences.\...,Research Scientist - Health AI Postdoc FTH 24 ...,"$89,250 a year",30+ days,2020-08-20 13:02:25.541500
12,Docklands VIC,CSL Behring,Bachelor degree in business/marketing or scien...,"Scientific Congress Organiser, Australia\nnew",,1 day,2020-08-20 13:02:25.541500
13,Melbourne VIC,Cell Therapies Pty Ltd,A Degree in a life sciences discipline such as...,QC Analyst (Life Science Technician),"$75,000 - $85,000 a year",8 days,2020-08-20 13:02:25.541500
14,Melbourne VIC,Servian,"Contemporary data architectures - data lakes, ...",Data Engineer,,16 days,2020-08-20 13:02:25.541500
15,Melbourne VIC,Servian,"Contemporary data architectures - data lakes, ...",Data Engineer,,16 days,2020-08-20 13:02:25.541500
16,Melbourne VIC,EY,"If you're studying IT/IS, BAIS, software engin...",Melbourne Vacationer Program 2020-2021 (July c...,,23 days,2020-08-20 13:02:25.541500
17,Melbourne VIC,AWS Australia Pty Ltd,Currently working towards a degree in computer...,Solutions Architect Intern\nnew,,5 days,2020-08-20 13:02:25.541500
18,Melbourne VIC,RMIT University,"In addition, tasks will also include the colla...","Technician Aquatic Ecotoxicology, School of Sc...","$69,143 - $79,425 a year",9 days,2020-08-20 13:02:25.541500
19,Melbourne VIC,Illumina,Working proficiency with complex data from mul...,"Commercial Analyst, Data & Analytics - APJ",,30+ days,2020-08-20 13:02:25.541500
20,Melbourne VIC,Property Exchange Australia Limited,"Assist in data engineering, analysis, business...",Data Analyst,,30+ days,2020-08-20 13:02:25.541500
21,Melbourne VIC,IBM,"Must have: developing, testing, and deploying ...",Research Scientist - Health AI Postdoc Researc...,"$96,750 a year",30+ days,2020-08-20 13:02:25.541500
22,Melbourne VIC,Kmart,Prior experience in data product management.\n...,Analytics Translator\nnew,,1 day,2020-08-20 13:02:25.541500
23,Melbourne VIC,Baker Heart and Diabetes Institute,Organise data for the preparation of proposals...,Research Officer/Postdoctoral Researcher\nnew,,5 days,2020-08-20 13:02:25.541500
24,Melbourne VIC,City of Melbourne,Experience with R or Python and working knowle...,City Analytics Specialist\nnew,"$106,988 a year",5 days,2020-08-20 13:02:25.541500
25,Parkville VIC,The Royal Children's Hospital,Demonstrated experience with accounting and bi...,Improvment Manager - NDIS\nnew,,1 day,2020-08-20 13:02:25.541500
26,Melbourne VIC,Openpay,Experience deploying data science algorithms i...,Data Engineer\nnew,,2 days,2020-08-20 13:02:25.541500
27,Melbourne VIC,RMIT University,Ideally you will have participated in aquatic ...,"Technician Aquatic Biology, School of Science","$69,143 - $79,425 a year",9 days,2020-08-20 13:02:25.541500
28,Melbourne VIC,Microsoft,"Understand customersâ€™ overall data estate, IT ...",Cloud Solution Architect / Data & AI,,30+ days,2020-08-20 13:02:25.541500
29,Melbourne VIC,Cummins Inc.,Presenting data and information in engineering...,2021 Automotive Engineering Student Internship...,,9 days,2020-08-20 13:02:25.541500
30,Melbourne VIC,Cummins Inc.,Presenting data and information in engineering...,2021 Automotive Engineering Student Internship...,,9 days,2020-08-20 13:02:25.541500
31,Melbourne VIC,Adaps,The Clientâ€™sTeam are releasing 5 data sets at ...,Junior Data Scientist,,30+ days,2020-08-20 13:02:25.541500
32,Melbourne VIC,Microsoft,Microsoftâ€™s Cloud Operations & Innovation (CO+...,Data Center Technician Lead,,30+ days,2020-08-20 13:02:25.541500
33,Melbourne VIC,EY,If you're studying Information Technology/Info...,Melbourne 2021 Graduate Program (July campaign),,23 days,2020-08-20 13:02:25.541500
34,Melbourne VIC,Solvay,Solvay is a science company whose technologies...,Laboratory Assistant (Agrochemicals),,30+ days,2020-08-20 13:02:25.541500
35,Melbourne VIC,Fortune Select,"Data science platform data management, securit...",Informatica Data Engineering Specialist,,30+ days,2020-08-20 13:02:25.541500
36,Melbourne VIC,Deloitte,Ability to lead technical teams made up of dat...,Manager,,21 days,2020-08-20 13:02:25.541500
37,Narre Warren South VIC,Narre Warren South P-12 Colleg,Demonstrated experience in using data to infor...,Secondary Generalist - PE/Science\nnew,,1 day,2020-08-20 13:02:25.541500
38,Melbourne VIC,Infosys Limited,"Problem solver - use critical thinking, networ...",MDM Developer\nnew,,6 days,2020-08-20 13:02:25.541500
39,Parkville VIC,University of Melbourne,The Administrative Office is responsible for p...,ADMINISTRATIVE OFFICER - ARC CENTRE OF EXCELLE...,"$67,872 - $72,033 a year",12 days,2020-08-20 13:02:25.541500
40,Melbourne VIC,Pro Search Partners Pty Ltd,Promoting data science products company-wide.\...,Data Scientist,,30+ days,2020-08-20 13:02:25.541500
41,Melbourne VIC,Mantel Group,This drives our passion to deliver advanced an...,Expressions of Interest,,30+ days,2020-08-20 13:02:25.541500
42,Melbourne VIC,IBM,A Doctorate degree in computer science or rela...,IBM Hybrid Cloud Security & Compliance PostDoc...,"$89,250 a year",15 days,2020-08-20 13:02:25.541500
43,Melbourne VIC,Deloitte,Customer Transformation â€“ Drive digital transf...,Consulting - Digital Customer Platforms,,30+ days,2020-08-20 13:02:25.541500
44,Melbourne VIC,Fortune Select,Test reports for data accuracy and conduct roo...,BI & Data Analyst (Microstrategy),,30+ days,2020-08-20 13:02:25.541500
45,Melbourne City Centre VIC,Museums Victoria,This position is accountable for researching a...,"Curatorial Research Assistant, Palaeontology\nnew","$68,884 a year",6 days,2020-08-20 13:02:25.541500
46,Melbourne VIC,Deloitte,A passion for data analysis and presenting dat...,Risk Advisory - Forensic Analytics,,24 days,2020-08-20 13:02:25.541500
47,Melbourne VIC,ANZ Banking Group,A confident understanding in engineering princ...,Engineer\nnew,,1 day,2020-08-20 13:02:25.541500
48,Melbourne City Centre VIC,Department of Justice and Community Safety,Conduct quantitative data analysis including b...,Evaluation Specialist\nnew,,7 days,2020-08-20 13:02:25.541500
49,Melbourne VIC,Leidos,Data curation/ data quality management/ data p...,Data Engineer,,26 days,2020-08-20 13:02:25.541500

In [73]:
job_df_m.salary.value_counts()

                              1424
$106,988 a year                  2
$89,250 a year                   2
$69,143 - $79,425 a year         2
$110,000 a year                  2
$88,994 - $97,609 a year         2
$85,000 - $90,000 a year         2
$60,000 - $70,000 a year         2
$55,000 - $70,000 a year         2
$105,232 - $124,958 a year       1
$96,750 a year                   1
$200,000 - $250,000 a year       1
$85,950 a year                   1
$100,000 - $120,000 a year       1
$180,000 - $220,000 a year       1
$200,000 a year                  1
$113,523 - $128,561 a year       1
$90,000 a year                   1
$80,000 - $85,000 a year         1
$150,000 - $180,000 a year       1
$50,000 - $60,000 a year         1
$75,000 - $85,000 a year         1
$95,000 - $110,000 a year        1
$68,983 - $93,569 a year         1
$80,000 - $110,000 a year        1
$61,206 - $143,261 a year        1
$550 - $600 a day                1
$120,000 - $150,000 a year       1
$67,872 - $72,033 a year         1
$9,000 a month                   1
$160,000 a year                  1
$72 - $75 an hour                1
$115,000 - $130,000 a year       1
$90,000 - $95,000 a year         1
$69,401 - $94,190 a year         1
$87,500 a year                   1
$90,300 a year                   1
$68,884 a year                   1
$120,000 - $170,000 a year       1
$93,935 - $101,684 a year        1
$500 - $550 a day                1
$550 - $650 a day                1
$70,000 - $79,999 a year         1
$180,000 a year                  1
$50,000 - $100,000 a year        1
Name: salary, dtype: int64

## DATA ANALYST MELBS

In [78]:
CITY=['melbourne']
URL_SEARCH_TERM = 'data analyst'
for city in CITY:
    
    job_dict_ma = []
    now = dt.datetime.now()
    for start in range(10, 1000,10):
        
#         URL = "https://au.indeed.com/jobs?q=data&l="+urllib.quote(city)"&start="+(start)
        URL = "https://au.indeed.com/jobs?q="+urllib.parse.quote(URL_SEARCH_TERM)+"&l="+urllib.parse.quote(city)+"&start="+str(start)
        
        driver.get(URL)
        soup = BeautifulSoup(driver.page_source, "lxml")

    for i in soup.findAll("div", {"class" : "jobsearch-SerpJobCard unifiedRow row result clickcard"}):
        location = extract_location_from_resultRow(i)
        company = extract_company_from_resultRow(i)
        summary = extract_summary_from_resultRow(i)
        title = extract_title_from_resultRow(i)
        salary = extract_salary_from_resultRow(i)
        post_date = extract_date_from_resultRow(i)

        job_dict_ma.append([location, company, summary, title, salary, post_date,now])
job_df_ma = pd.DataFrame(job_dict_ma, columns=['location', 'company', 'summary',  'title', 'salary', 'post_date','pull_date'])

In [79]:
job_df_ma.head()

,location,company,summary,title,salary,post_date,pull_date
0,Melbourne VIC,Tecside Group,Reporting to ILS manager you will be involved ...,ILS Engineer - RAM,,19 days,2020-08-20 13:08:47.885611
1,Melbourne VIC,Randstad,Relevant experience in preparation of complex ...,Senior Credit Analyst,,12 days,2020-08-20 13:08:47.885611
2,Melbourne VIC,Bluefin Resources,You will use your data analytics skills to cle...,Senior Manager - Analytics\nnew,"$135,000 - $165,000 a year",2 days,2020-08-20 13:08:47.885611
3,Melbourne VIC,Adaps,Identify environment and data requirements.\nI...,Quality Engineer /Sr. Engineer(Automation/Perf...,,30+ days,2020-08-20 13:08:47.885611
4,Melbourne VIC,Adaps,Identify environment and data requirements.\nI...,Automation Test Engineer â€“ Senior,,30+ days,2020-08-20 13:08:47.885611

In [80]:
job_df_ma.salary.value_counts()

                              12
$140,000 - $180,000 a year     1
$135,000 - $165,000 a year     1
$70,000 - $120,000 a year      1
Name: salary, dtype: int64

In [81]:
job_df_ma.summary.nunique()

12

## lets try data engineer

In [82]:
CITY=['sydney']
URL_SEARCH_TERM = 'data engineer'
for city in CITY:
    
    job_dict_se = []
    now = dt.datetime.now()
    for start in range(10, 1000,10):
        
#         URL = "https://au.indeed.com/jobs?q=data&l="+urllib.quote(city)"&start="+(start)
        URL = "https://au.indeed.com/jobs?q="+urllib.parse.quote(URL_SEARCH_TERM)+"&l="+urllib.parse.quote(city)+"&start="+str(start)
        
        driver.get(URL)
        soup = BeautifulSoup(driver.page_source, "lxml")

        for i in soup.findAll("div", {"class" : "jobsearch-SerpJobCard unifiedRow row result clickcard"}):
            location = extract_location_from_resultRow(i)
            company = extract_company_from_resultRow(i)
            summary = extract_summary_from_resultRow(i)
            title = extract_title_from_resultRow(i)
            salary = extract_salary_from_resultRow(i)
            post_date = extract_date_from_resultRow(i)

            job_dict_se.append([location, company, summary, title, salary, post_date,now])
    job_df_se = pd.DataFrame(job_dict_se, columns=['location', 'company', 'summary',  'title', 'salary', 'post_date','pull_date'])

In [83]:
job_df_se.head()

,location,company,summary,title,salary,post_date,pull_date
0,Sydney NSW,Faethm,A broad understanding of the numerous technolo...,Data Engineer (NLP),,9 days,2020-08-20 13:13:34.602695
1,Sydney NSW,Cognizant,Able to identify and solve big data problems i...,Big Data Engineer,,19 days,2020-08-20 13:13:34.602695
2,Sydney NSW,Macquarie Group Limited,"As a Data Engineer, you will be part of a data...",Data Engineer,,15 days,2020-08-20 13:13:34.602695
3,Sydney NSW,Google,We're looking for engineers who bring fresh id...,Software Engineer\nnew,,2 days,2020-08-20 13:13:34.602695
4,Sydney NSW,Blackwoods,"History of data analysis and reporting, with t...",Data Engineer,,19 days,2020-08-20 13:13:34.602695

In [84]:
job_df_se.salary.value_counts()

                              1327
$150,000 a year                  4
$130,000 a year                  4
$120,000 - $140,000 a year       4
$80,000 - $180,000 a year        3
                              ...
$100 an hour                     1
$160,000 a year                  1
$60,000 - $90,000 a year         1
$135,000 - $150,000 a year       1
$113,735 - $129,658 a year       1
Name: salary, Length: 108, dtype: int64

In [86]:
job_df_se.salary.nunique()

108

## MELBS DATA ENGINeer

In [88]:
CITY=['melbourne']
URL_SEARCH_TERM = 'data engineer'
for city in CITY:
    
    job_dict_me = []
    now = dt.datetime.now()
    for start in range(10, 1000,10):
        
#         URL = "https://au.indeed.com/jobs?q=data&l="+urllib.quote(city)"&start="+(start)
        URL = "https://au.indeed.com/jobs?q="+urllib.parse.quote(URL_SEARCH_TERM)+"&l="+urllib.parse.quote(city)+"&start="+str(start)
        
        driver.get(URL)
        soup = BeautifulSoup(driver.page_source, "lxml")

        for i in soup.findAll("div", {"class" : "jobsearch-SerpJobCard unifiedRow row result clickcard"}):
            location = extract_location_from_resultRow(i)
            company = extract_company_from_resultRow(i)
            summary = extract_summary_from_resultRow(i)
            title = extract_title_from_resultRow(i)
            salary = extract_salary_from_resultRow(i)
            post_date = extract_date_from_resultRow(i)

            job_dict_me.append([location, company, summary, title, salary, post_date,now])
    job_df_me = pd.DataFrame(job_dict_me, columns=['location', 'company', 'summary',  'title', 'salary', 'post_date','pull_date'])

In [90]:
job_df_me.shape

(1483, 7)

In [93]:
job_df_me.summary.nunique()

327

In [94]:
job_df_me.salary.value_counts()

                              891
$100,000 - $130,000 a year     77
$130,000 - $150,000 a year     76
$500 a day                     76
$80,000 - $100,000 a year      76
$190,000 - $220,000 a year     76
$135,000 - $155,000 a year     76
$80,000 - $130,000 a year      76
$80,000 - $120,000 a year       3
$140,000 a year                 3
$100,000 - $120,000 a year      3
$69,401 - $94,190 a year        2
$87,500 a year                  2
$90,000 a year                  2
$90,000 - $140,000 a year       2
$150,000 a year                 2
$120,000 a year                 2
$130,000 a year                 1
$96,750 a year                  1
$700 - $800 a day               1
$95,000 - $110,000 a year       1
$450 - $500 a day               1
$50,000 - $60,000 a year        1
$90 - $100 an hour              1
$70,000 - $80,000 a year        1
$89,250 a year                  1
$90,000 - $180,000 a year       1
$113,110 - $125,017 a year      1
$100,000 - $140,000 a year      1
$98,396 - $119,052 a year       1
$110,000 - $130,000 a year      1
$700 - $750 a day               1
$850 a day                      1
$120,000 - $130,000 a year      1
$105,684 - $114,389 a year      1
$67,100 - $73,256 a year        1
$550 - $600 a day               1
$100,000 a year                 1
$60,000 - $110,000 a year       1
$500 - $740 a day               1
$150,000 - $170,000 a year      1
$80,000 - $85,000 a year        1
$95 - $100 an hour              1
$80,000 - $90,000 a year        1
$800 - $1,000 a day             1
$120,000 - $140,000 a year      1
$110,000 - $160,000 a year      1
$130,000 - $160,000 a year      1
$110,000 - $140,000 a year      1
$115,000 - $130,000 a year      1
$55,000 a year                  1
$45 - $50 an hour               1
$120,000 - $170,000 a year      1
$60,000 - $70,000 a year        1
$75,000 - $90,000 a year        1
Name: salary, dtype: int64

In [95]:
all_jobs=[job_df_me,job_df_se,job_df_ma,job_df_m,job_df_2,job_df]

In [96]:

df = pd.concat(all_jobs)

In [98]:
print(df.shape)
df.head()

(7408, 8)

,location,company,summary,title,salary,post_date,pull_date,rating
0,Melbourne VIC,Xero,We are the center of expertise for data archit...,Data Platform Reliability Engineer,,13 days,2020-08-20 13:20:43.988209,NaN
1,Melbourne VIC,DNV GL AS,Programming of data acquisition devices using ...,Technical Commissioning Engineer\nnew,,1 day,2020-08-20 13:20:43.988209,NaN
2,Melbourne VIC,Aurecon Group,"Preparation of investigations, including data ...",Signalling Engineer,,30+ days,2020-08-20 13:20:43.988209,NaN
3,Melbourne VIC,Dialog Information Technology,Demonstrated experience with data ingestion an...,Splunk Engineer,,30+ days,2020-08-20 13:20:43.988209,NaN
4,Melbourne VIC,Data Runs Deep,"Data merging, data blending, data engineering....",Marketing Data Engineer - GA360/BigQuery,"$90,000 a year",15 days,2020-08-20 13:20:43.988209,NaN

In [107]:
df.summary.nunique()

2392

In [108]:
df.salary.value_counts()

                              6264
$500 a day                      83
$80,000 - $100,000 a year       83
$100,000 - $130,000 a year      79
$130,000 - $150,000 a year      77
                              ...
$21.09 - $26.27 an hour          1
$30 an hour                      1
$950 a week                      1
$67,100 - $73,256 a year         1
$89,009 - $115,825 a year        1
Name: salary, Length: 254, dtype: int64

In [109]:
df_nd= df.drop_duplicates(subset=['summary', 'company','title'], keep='first')

In [147]:
df_clean=df_nd[df_nd.salary != '']

In [ ]:
# df_clean['salary']=df_clean['salary'].apply(lambda x: int(x.replace('$','').split('-')[0]))

In [152]:
# df_clean.to_csv('df.csv')